.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto


/.quarto/
.Rproj.user
data/
Hands-on_Ex/amazon_reviews_us_Beauty_v1_00.tsv
Take-home_Ex/Take-home_Ex02.zip
_freeze/Take-home_Ex/Take-home_Ex02/Take-home_Ex02/execute-results/html.json
